.filters {
    display: block;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button {
    color: #FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 20%;
    background-color: #FF5A5F;
    border-style: none;
    border-radius: 4px;
    float: right;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 30px;
}

button:hover {
    opacity: 90%;
}

.locations {
    display: inline;
    vertical-align: middle;
    float: left;
    height: 100%;
    width: 25%;
    line-height: 20px;
    border-right: 1px solid #DDDDDD;
    position: relative; /* Add this line */
}

.amenities {
    display: inline;
    vertical-align: middle;
    height: 100%;
    float: left;
    height: 100%;
    width: 25%;
    line-height: 20px;
    position: relative; /* Add this line */
}

.popover {
    list-style-type: none;
    display: none;
    background-color: #FAFAFA;
    width: 100%;
    margin-left: -1px;
    margin-top: 8px;
    padding: 25px 0px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute; /* Change this line to absolute positioning */
    top: 100%; /* Position the popover below the parent element */
    left: 0; /* Position the popover at the left edge of the parent */
    z-index: 999; /* Set a high z-index to ensure it covers everything */
}

.locations:hover .popover {
    display: block; /* Change this line to block */
}

.amenities:hover .popover {
    display: block; /* Change this line to block */
}

ul {
    list-style-type: none;
    padding: 0px;
    padding-bottom: 20px;
}

h2 {
    font-size: 16px;
    padding-left: 30px;
    margin: 0px;
}

h3 {
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 5px;
    padding-left: 45px;
}

h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 45px;
}